

.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}

.container-fluid {
    min-height: 100vh;
    height: auto;
  }

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }


}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: #3b82f6;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: 0.5;
}

.inner-circle:hover{
    height: 2rem !important;
    width: 2rem !important;
    margin: -0.5rem 0rem 0rem 0rem !important;
}

.col{
    height: 100%;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

/* *** Edit Card *** */

#demoCard {
    padding: 10px;
    background: white;
    border: 1px dashed;
    overflow: auto;
    max-width: 100%;
    height: auto;
}
  
#card {
    width: 100%;
    padding-bottom: 65%;
    background-size: cover;
    position: relative;
}

#headline{
    font-size: 2.5vw;
    text-align: center;
    position: absolute;
    width: 100%;
    text-shadow: black 2px 2px 6px;
    padding: 1rem 2rem 1rem 2rem;
}
#cardText{
    font-size: 1vw;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0rem;
    padding: 1rem 20px 1rem 20px;
    text-shadow: black 2px 2px 6px;
}
#frameHolder{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100% !important;
    height: 100% !important;
}
#frameImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#poemContainer{
    height: auto;
    max-height: 30rem;
}
#overflowPoems{
    max-height: 20rem;
}

/* @media (max-width: 576px) { 

    #headline{
        font-size: 7vw !important;
    }

    #cardText{
        font-size: 2.4vw !important;
    }
} */
